<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dryun.domain.mapper.IfyAndGoodsTypeMapper">
    <resultMap id="IfyAndGoodsTypeResultMap" type="org.dryun.domain.entity.IfyAndGoodsType">
        <id column="id" property="id"/>
        <result column="classify_id" property="classIfyId"/>
        <result column="goods_type_id" property="goodsTypeId"/>
    </resultMap>

</mapper>